@import 'src/styles';

.btn {
  cursor: pointer;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 100rem;
  width: 3.2rem;
  height: 3.2rem;

  transition: all $transition-main;

  &:hover {
    background-color: $color-background-3-light;
  }

  &:active {
    background-color: $color-background-3;
  }

  &__open {
    transform: rotate(0deg);
  }

  &__darkBackground {
    background-color: $color-background-3-light;
  }
}

.icon {
  pointer-events: none;

  fill: currentColor;
  color: $color-gray-500;

  @include light-theme {
    color: $color-gray-800;
  }
}
