@import 'src/styles';

.container {
  @include element-flex(column);
  gap: $spacing-3;
  width: 100%;
  max-width: 500px;

  &.fullWidth {
    max-width: 100%;
  }
}

.chart {
  width: 100%;
}

.chartTypeOptions {
  @include element-flex(row, flex-end, center);
  gap: $spacing-1;
  width: 100%;
}
