@import 'vars';
@import 'colors';
@import 'mixins';

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: $main-font;
  background-color: $pink;
  color: $color-foreground;
  @include paragraph;
}

button {
  @include button;
}

h1 {
  @include title1;
}
h2 {
  @include title2;
}
h3 {
  @include title3;
}
h4 {
  @include title4;
}
h5 {
  @include title5;
}
h6 {
  @include title6;
}

a {
  color: inherit;
}
