:root {
  /* Colors */
  --color-foreground: #000000;
  --color-foreground-dim: #4a4a4a;
  --color-foreground-inverted: #ffffff;

  --color-background-1: #ffffff;
  --color-background-1-dark: #ededed;
  --color-background-1-light: #ffffff;

  --color-background-2: #fdfdfd;
  --color-background-2-dark: #ebebeb;
  --color-background-2-light: #fefefe;

  --color-background-3: #eeeeee;
  --color-background-3-dark: #e0e0e0;
  --color-background-3-light: #f5f5f5;

  --color-primary: #1976d2;
  --color-primary-dark: #1565c0;
  --color-primary-light: #42a5f5;

  --color-secondary: #9c27b0;
  --color-secondary-dark: #7b1fa2;
  --color-secondary-light: #ba68c8;

  --color-success: #4caf50;
  --color-success-dark: #1b5e20;
  --color-success-light: #2e7d32;

  --color-danger: #d32f2f;
  --color-danger-dark: #c62828;
  --color-danger-light: #ef5350;

  --color-warning: #ed6c02;
  --color-warning-dark: #e65100;
  --color-warning-light: #ff9800;

  /* Spacing */
  --spacing-base: 0.8rem;
  --spacing-1: calc(var(--spacing-base) * 0.5);
  --spacing-2: calc(var(--spacing-base) * 1);
  --spacing-3: calc(var(--spacing-base) * 1.5);
  --spacing-4: calc(var(--spacing-base) * 2);
  --spacing-5: calc(var(--spacing-base) * 2.5);
  --spacing-6: calc(var(--spacing-base) * 4);
  --spacing-7: calc(var(--spacing-base) * 5);
  --spacing-8: calc(var(--spacing-base) * 7.5);
  --spacing-9: calc(var(--spacing-base) * 10);
  --spacing-10: calc(var(--spacing-base) * 15);

  /* Sizes */
  --size-button-height: 5rem;
  --size-sidebar-width: 24.5rem;
  --size-sidebar-close-width: 7rem;
  --size-page-max-width: 120rem;
  --size-top-navigation-height: 8rem;
  --size-footer-height: 5rem;

  --radius-s: var(--spacing-1);
  --radius-m: var(--spacing-2);
  --radius-l: var(--spacing-4);
}

body.dark-mode {
  --color-foreground: #ffffff;
  --color-foreground-dim: #c8c8c8;
  --color-foreground-inverted: #000000;

  --color-background-1: #0f0f0f;
  --color-background-1-dark: #0a0a0a;
  --color-background-1-light: #161616;

  --color-background-2: #161616;
  --color-background-2-dark: #0f0f0f;
  --color-background-2-light: #1c1c1c;

  --color-background-3: #1c1c1c;
  --color-background-3-dark: #161616;
  --color-background-3-light: #222222;

  --color-primary: #4281c9;
  --color-primary-dark: #3468b7;
  --color-primary-light: #7bb1f9;

  --color-secondary: #a855b8;
  --color-secondary-dark: #864d9a;
  --color-secondary-light: #c47ad0;

  --color-success: #62c762;
  --color-success-dark: #2e6e2e;
  --color-success-light: #4ba84b;

  --color-danger: #d85d5d;
  --color-danger-dark: #c15252;
  --color-danger-light: #f27c7c;

  --color-warning: #f0985b;
  --color-warning-dark: #e17d37;
  --color-warning-light: #ffb14d;
}
