@import 'src/styles';

.gallery {
  display: grid;
  gap: 30px;
  justify-items: center;
  padding: 30px;
  @include mobileWidth {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }
}

.img {
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 300px;
  @include mobileWidth {
    width: 100%;
  }
}


.upright {
  height: 625px;
  width: 100%;
  @include mobileWidth {
    width: 100%;
    height: 300px;
  }
}

.first {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.second {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.third {
  grid-column: 4 / 5;
  grid-row: 1 / 6;
}

.forth {
  grid-column: 1 / 3;
  grid-row: 3 / 6;
}

.sixth {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
}

.seventh {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.eighth {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.ninth {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.tenth {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}
