@import 'src/styles';

.checkboxContainer {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 0.6rem;

  @include smDesktopWidth() {
    align-items: flex-start;
  }
}

.checkbox {
  border: 0.1rem solid $color-primary-dark;
  border-radius: $radius-s;
  height: 2rem;
  min-width: 2rem;
  @include appearance(none);
  cursor: pointer;

  transition: all $transition-main;

  &:checked {
    border: none;
    color: $color-foreground;
    background-color: $color-primary;
  }

  &:focus {
    box-shadow: $shadow-main;
    @include dark-theme {
      box-shadow: unset;
    }
  }

  &:disabled + label {
    cursor: not-allowed !important;
  }

  &__error {
    border-color: $color-danger;
    box-shadow: $color-danger;
  }
}

.errorMessage {
  padding-top: 0.5rem;
  color: $color-danger;
  font-size: $font-size-xs;
  animation: fadeIn 0.5s;
}

.label {
  font-size: $font-size-m;
  line-height: 2rem;
  color: $color-foreground-dim;
  cursor: pointer;

  &.small {
    font-size: $font-size-xs;
    color: $color-gray-500;
    line-height: 1.6rem;
  }
}

.star {
  color: $color-danger;
}

.checkboxWrapper {
  position: relative;
  height: 2rem;
  width: 2rem;
}

.icon {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);

  height: 2rem;
  width: 2rem;

  opacity: 0;
  filter: $filter-white;

  transition: all $transition-main;

  &.checked {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.disabled {
  @include disabled-ui;
}

@keyframes fadeIn {
  @include keyframe-fadeIn;
}
